<div class="lancamento-list-container">
  <h2>Listagem de Lançamentos</h2>

  <div class="header-actions">
    <a [routerLink]="['/cadastro-lancamento']" class="btn btn-primary">
      + Novo Lançamento
    </a>
  </div>

  <div *ngIf="carregando" class="loading">Carregando dados...</div>
  <div *ngIf="erro" class="error-message">Erro: {{ erro }}</div>
  <div *ngIf="!carregando && lancamentos.length === 0" class="empty-state">
    Nenhum lançamento foi encontrado no sistema.
  </div>

  <div class="table-responsive" *ngIf="lancamentos.length > 0 && !carregando">
    <table>
      <thead>
      <tr>
        <th>Descrição</th>
        <th>Vencimento</th>
        <th>Valor</th>
        <th>Pessoa</th>
        <th>C. Custo</th>
        <th>Tipo</th>
        <th>Situação</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let l of lancamentos">
        <td>{{ l.descricao }} ({{ l.parcela }})</td>

        <td>{{ l.dataVencimento }}</td>

        <td>{{ l.valorDocumento | currency: 'BRL' }}</td>

        <td>{{ l.pessoa?.nome }}</td>
        <td>{{ l.centroCusto?.nome }}</td>

        <td [class.credito]="l.tipoLancamento === 'CREDITO'"
            [class.debito]="l.tipoLancamento === 'DEBITO'">
          {{ l.tipoLancamento }}
        </td>

        <td>
                        <span class="situacao-badge" [class.aberto]="l.situacao === 'ABERTO'" [class.baixado]="l.situacao === 'BAIXADO'">
                            {{ l.situacao }}
                        </span>
        </td>

        <td>
          <a [routerLink]="['/editar-lancamento', l.id]" class="action-btn edit-btn">Editar</a>
          <button (click)="excluirLancamento(l.id!)" class="action-btn delete-btn">
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
